/********************
 * Global
 ********************
 */

html,
body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;

    text-align: center;
}


/********************
 * Header
 ********************
 */

#header {
    position: relative;

    display: flex;

    box-sizing: border-box;
    height: 80px;

    color: #fff;
    border-bottom: #e8491d 3px solid;
    background-color: #35424a;

    justify-content: center;
    align-items: center;
}

#header>h1 {
    margin-left: 80px;
}

#header>span {
    position: absolute;
    left: 10px;
    top: 20px;

    width: 40px;
    height: 40px;
}

#header>span>a {
    cursor: pointer;
}


#container {
    transition: all .5s ease-in-out;
    text-align: center;
}

.set {
    display: inline-flex;

    margin: 20px 5px;

    border-radius: 5px;
    background-color: #edf0f1;

    align-items: center;
    justify-content: center;
}

#setting {
    position: relative;
    position: absolute;
    top: 80px;

    overflow-x: hidden;

    box-sizing: border-box;
    width: 0;
    height: 100%;

    transition: all .5s ease-in-out;

    opacity: .9;
    background-color: gray;
}

#setting>span {
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;
}

#setting>span>a {
    font-size: 30px;

    cursor: pointer;
}

#setting .wrapper {
    padding: 50px 20px;
}

#setting .wrapper div {
    box-sizing: border-box;
    margin: 30px 0;

    text-align: center;
}

#setting .wrapper #reset {
    font-size: 15px;

    height: 30px;
}

#setting .wrapper input {
    width: 100px;
    height: 20px;
    margin-top: 10px;
}


/********************
 * Inside View
 ********************
 */

.inside-view {
    position: relative;

    float: left;

    margin: 20px 10px;
    padding: 10px;

    background-color: #1d1f21;
}

.elevator {
    position: relative;

    background-color: #141517;
}


/* Door */

.door {
    position: relative;

    display: -ms-grid;

    display: grid;
    /*width: 160px;*/
    box-sizing: border-box;

    transition: all 2s ease-in-out;

    -ms-grid-columns: 1fr 1fr;

    grid-template-columns: 1fr 1fr;
}


/* Pannel */

.pannel {
    z-index: 1;

    display: -ms-grid;

    display: grid;

    box-sizing: border-box;
    width: 110px;
    min-height: 190px;
    margin: 0;
    padding: 10px;
    /*
    box-shadow: 10px 0 10px 0 #333;
    */
    background-color: #47484b;

    -ms-grid-rows: 90px auto;

    grid-template-rows: 90px auto;
}

.screen {
    display: flex;

    width: 70px;
    height: 70px;
    margin: 10px;

    background-color: #262626;

    align-items: center;
    justify-content: center;
}

.floor-on-screen {
    font-family: Segoe, Roboto, Helvetica, 'Microsoft YaHei', Arial, sans-serif;
    font-size: 3em;

    margin: auto;

    color: #616267;
}

.button {
    font-family: Segoe, Roboto, Helvetica, 'Microsoft YaHei', Arial, sans-serif;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px 7.5px;

    text-align: center;

    color: #000;
    border: 1px solid #262626;
    border-radius: 25px;
    outline: none;
    background-color: #47484b;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button:hover {
    cursor: pointer;

    background-color: #525458;
}

.button.pressed {
    background-color: #fff;
}

.dial,
.door-controller {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr 1fr;

    grid-template-columns: 1fr 1fr;
}



/********************
 * Outside View
 ********************
 */

.outside-view {
    float: left;

    width: 270px;
    margin: 20px 10px;
    padding: 10px;

    background-color: #1d1f21;
}

.indicator {
    font-size: 1.5rem;

    display: flex;

    padding: .5rem 1rem;

    list-style: none;

    border: 1px solid #47484b;
    border-radius: 1rem;

    justify-content: center;
    align-items: center;
}

.current-state {
    display: -ms-inline-grid;
    display: inline-grid;

    -ms-grid-rows: 1fr 1fr;

    grid-template-rows: 1fr 1fr;
}


/* Up Arrow */

.going-up {
    width: 0;
    height: 0;

    border-right: 8px solid transparent;
    border-bottom: 10px solid #1d1f21;
    border-left: 8px solid transparent;
}


/* Down Arrow */

.going-down {
    width: 0;
    height: 0;
    margin-top: 2px;

    border-top: 10px solid #1d1f21;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.current-floor {
    margin-left: .5rem;
    ;

    color: #616267;
}


/* Floors */

.floors {
    position: relative;

    float: left;

    width: 100%;
}

ul.floor-list {
    float: left;

    width: 100%;
    padding-left: 0;
}

ul.floor-list li {
    font-size: 14px;

    position: relative;

    float: left;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 13px 0 13px 13px;

    text-align: left;

    color: #444;
    background-color: #fff;
}

ul.floor-list li .buttons {
    position: absolute;
    top: 0;
    right: 0;

    display: -ms-grid;

    display: grid;

    width: 90px;
    height: 40px;

    background-color: #1d1f21;

    -ms-grid-columns: 1fr 1fr;

    grid-template-columns: 1fr 1fr;
}

ul.floor-list li:first-of-type .buttons .button {
    -ms-grid-column: 2;
    grid-column-start: 2;
}

.lift {
    position: absolute;
    bottom: 21px;
    left: 60px;

    display: -ms-grid;

    display: grid;

    box-sizing: border-box;
    width: 80px;
    height: 40px;

    transition: all 1s linear;

    -ms-grid-columns: 1fr 1fr;

    grid-template-columns: 1fr 1fr;
}

.lift-left,
.lift-right {
    position: absolute;

    box-sizing: border-box;
    width: 40px;
    height: 40px;

    transition: all 2s ease-in-out;

    background-color: #ee0;
}

.closed-lift-left {
    right: 40px;

    border-right: 1px solid #262626;
}

.closed-lift-right {
    left: 40px;

    border-left: 1px solid #262626;
}

.opened-lift-left {
    right: 80px;

    width: 0;

    border-right: 1px solid #262626;
}

.opened-lift-right {
    left: 80px;

    width: 0;

    border-left: 1px solid #262626;
}